{% extends "base2admin.html" %}
{% load static %}
{% load get_doctors_tags %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<link href='{% static "assets3/css/all_doctors_admin.css" %}' rel="stylesheet">

<main id="main" class="main">

    <div class="pagetitle">
        <h1>All Doctors Schedule {{ request.user.first_name }}</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-12">
                <div class="row">
                    <!-- All Patients -->
                    <div class="col-12">
                        <div class="card recent-sales top-selling">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">All Doctors Schedule <span>| {{all_schedules.count}}</span></h5>

                                <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                                    <div class="dataTable-top">
                                        <div class="dataTable-dropdown"><label><select class="dataTable-selector">
                                            <option value="5">5</option>
                                            <option value="10" selected="">10</option>
                                            <option value="15">15</option>
                                            <option value="20">20</option>
                                            <option value="25">25</option>
                                        </select> entries per page</label></div>
                                        <div class="dataTable-search"><input class="dataTable-input"
                                                                             placeholder="Search..." type="text"></div>
                                    </div>
                                    <div class="dataTable-container">
                                        <table class="table table-borderless datatable dataTable-table">
                                            <thead>
                                            <tr>
                                                <th scope="col" data-sortable="" style="width: 20%;"><a href="#"
                                                                                                        class="dataTable-sorter">Doctor</a>
                                                </th>
                                                <th scope="col" data-sortable="" style="width: 20%;"><a href="#"
                                                                                                        class="dataTable-sorter">Title</a>
                                                </th>
                                                <th scope="col" data-sortable="" style="width: 20%;"><a href="#"
                                                                                                        class="dataTable-sorter">Date</a>
                                                </th>
                                                <th scope="col" data-sortable="" style="width: 20%;"><a href="#"
                                                                                                        class="dataTable-sorter">Time</a>
                                                </th>
                                                <th scope="col" data-sortable="" style="width: 10%;"><a href="#"
                                                                                                        class="dataTable-sorter">Status</a>
                                                </th>

                                                <th scope="col" data-sortable="" style="width: 10%;"><a href="#"
                                                                                                        class="dataTable-sorter">Actions</a>
                                                </th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for schedule in all_schedules %}
                                            <tr>
                                                <td scope="row"><a href="#"><img
                                                        src="{{patient.user.personal_info.photo.url}}" alt=""></a></td>
                                                <td>{{schedule.slot_date}}</td>
                                                <td>{{schedule.slot_date}}</td>
                                                <td>{{patient.user.personal_info.gender}}</td>
                                                <td>{{patient.user.personal_info.phone}}</td>
                                                <td>
                                                    <div class="col-sm-10">
                                                        <select class="form-select" aria-label="Default select example">
                                                            <option selected="">Actions</option>
                                                            <option value="1">Edit</option>
                                                            <option value="2">Delete</option>
                                                        </select>
                                                    </div>
                                                    </span></td>


                                            </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="dataTable-bottom">
                                        <div class="dataTable-info">Showing 1 to 5 of 5 entries</div>
                                        <nav class="dataTable-pagination">
                                            <ul class="dataTable-pagination-list"></ul>
                                        </nav>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <!-- End All Patients -->


                </div>
            </div><!-- End Left side columns -->


        </div>
    </section>

</main><!-- End #main -->
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src='{% static "assets3/js/all_doctors_admin.js" %}'></script>


{% endblock %}