
{% extends "base2admin.html" %}
{% load static %}

{% block content %}

 <main id="main" class="main">

    <div class="pagetitle">
      <h1>Add Appointment Mediums</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Appointment Mediums</li>
            <li class="breadcrumb-item active">Add Appointment Mediums</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

     <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Add Appointment Medium</h5>

              <!-- General Form Elements -->
              <form method='POST' action="{% url 'appointments:add_appointment_medium_page_admin' %}">{% csrf_token %}

                  <div class="row mb-3">
                  <label for="name" class="col-sm-2 col-form-label">Medium Name</label>
                  <div class="col-sm-10">
                    <input id="name" type="text" name="name" class="form-control" required>
                  </div>
                </div>

                   <div class="row mb-3">
                  <label for="price" class="col-sm-2 col-form-label">Price</label>
                  <div class="col-sm-10">
                    <input id="price" type="text" name="price" class="form-control" required>
                  </div>
                </div>



                <div class="row mb-3">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Add Medium</button>
                  </div>
                </div>

              </form><!-- End General Form Elements -->

            </div>
          </div>

        </div>


  </main><!-- End #main -->
{% endblock %}