{% extends "base2.html" %}
{% load static %}


{% block content %}


<main id="main" class="main">

    <div class="pagetitle">
      <h1>Welcome back {{ request.user.first_name }}</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

  <h5 class="card-title">Top Services</h5>

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Make appointment Card -->
            <div class="col-xxl-6 col-md-6">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">Make an appointment</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Make an appointment -->
            <!-- General Checkup Card -->
            <div class="col-xxl-6 col-md-6">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">General Checkup</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End General checkup Card -->

            <!-- Prescriptions Card -->
            <div class="col-xxl-6 col-md-6">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">Prescriptions</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Prescriptions Card -->

            <!-- Medical Centers Card -->
            <div class="col-xxl-6 col-md-6">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">Medical Centers</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Medical Centers  Card -->

            <h5 class="card-title col">My Appointments <span>| See all</span></h5>

            <!-- Appointments Card -->

           <div>
              <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-3">
                <img src='{% static "assets2/img/card.jpg" %}' class="img-fluid rounded-start" alt="...">
              </div>


              <div class="col-md-9">
                <div class="card-body">
                  <h5 class="card-title mb-0 pb-2">Dr. Mensah Wilson</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Cardio Specialist</h6>
                  <span class="badge rounded-pill bg-danger">Pending</span>
                  <div class="col mt-3">
                    <button type="button" class="btn btn-primary"><i class="bi bi-clock me-1"></i> Sun 14 Feb, 2021, 09:50 PM </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

             <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-3">
                <img src='{% static "assets2/img/card.jpg" %}' class="img-fluid rounded-start" alt="...">
              </div>


              <div class="col-md-9">
                <div class="card-body">
                  <h5 class="card-title mb-0 pb-2">Dr. Mensah Wilson</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Cardio Specialist</h6>
                  <span class="badge rounded-pill bg-danger">Pending</span>
                  <div class="col mt-3">
                    <button type="button" class="btn btn-primary"><i class="bi bi-clock me-1"></i> Sun 14 Feb, 2021, 09:50 PM </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

           </div>
            <!-- End Appointments Card -->


          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- Recent Activity -->
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body">
              <h5 class="card-title">Recent Activity</h5>

              <div class="activity">

                <div class="activity-item d-flex">
                  <div class="activite-label">32 min</div>
                  <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                  <div class="activity-content">
                    Quia quae rerum <a href="#" class="fw-bold text-dark">explicabo officiis</a> beatae
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label">56 min</div>
                  <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                  <div class="activity-content">
                    Voluptatem blanditiis blanditiis eveniet
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label">2 hrs</div>
                  <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                  <div class="activity-content">
                    Voluptates corrupti molestias voluptatem
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label">1 day</div>
                  <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                  <div class="activity-content">
                    Tempore autem saepe <a href="#" class="fw-bold text-dark">occaecati voluptatem</a> tempore
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label">2 days</div>
                  <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                  <div class="activity-content">
                    Est sit eum reiciendis exercitationem
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label">4 weeks</div>
                  <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                  <div class="activity-content">
                    Dicta dolorem harum nulla eius. Ut quidem quidem sit quas
                  </div>
                </div><!-- End activity item-->

              </div>

            </div>
          </div><!-- End Recent Activity -->

        </div><!-- End Right side columns -->

      </div>
    </section>

  </main><!-- End #main -->

{% endblock content %}