{% extends "base2pat.html" %}
{% load static %}


{% block content %}


<main id="main" class="main">

    <div class="pagetitle">
      <h1>Prescriptions</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="index.html">Prescriptions</a></li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

  <h5 class="card-title">Top Services - Patient</h5>


  </main><!-- End #main -->

{% endblock content %}