
{% extends "base2pat.html" %}
{% load static %}

{% block content %}

 <main id="main" class="main">

    <div class="pagetitle">
      <h1>Articles</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Articles</li>
             <li class="breadcrumb-item active">Article Detail</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

     <div class="card col-lg-9">
        <section class="section profile">
        <div class="container mt-5">

            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{article.name}}</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Posted {{article.created_at|timesince}} ago by Dr. {{article.author.last_name}}</div>
                            <!-- Post categories-->
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Covid-19</a>
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Covid-19</a>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="{{article.post_files.all.0.file.url}}" alt="..."></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-6 mb-4">{{article.body|linebreaksbr}}</p>
                        </section>


                    </article>



                </div>

            </div>
        </div>
    </section>
    </div>


  </main><!-- End #main -->
{% endblock %}