{% load static %}

<div class="col-12">
                        <div class="card recent-sales top-selling">


                            <div class="card-body">
                                <h5 class="card-title">Recent Appointments <span>| <a href="{% url 'appointments:all_appointments_admin' %}">See all</a></span></h5>

                                <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">

                                    <div class="dataTable-container">
                                        <table class="table table-borderless datatable dataTable-table">
                                            <thead>
                                            <tr>
                                                <th scope="col" data-sortable="" style="width: 13.5556%;"><a href="#"
                                                                                                             class="dataTable-sorter">Patient</a>
                                                </th>
                                                  <th scope="col" data-sortable="" style="width: 30.1111%;"><a href="#"
                                                                                                             class="dataTable-sorter">Patient Name</a>
                                                </th>
                                                 <th scope="col" data-sortable="" style="width: 13.5556%;"><a href="#"
                                                                                                             class="dataTable-sorter">Doctor</a>
                                                </th>


                                                 <th scope="col" data-sortable="" style="width: 30.1111%;"><a href="#"
                                                                                                             class="dataTable-sorter">Doctor Name</a>
                                                </th>
                                                <th scope="col" data-sortable="" style="width: 25.4444%;"><a href="#"
                                                                                                             class="dataTable-sorter">Problem</a>
                                                </th>
                                                <th scope="col" data-sortable="" style="width: 12.2222%;"><a href="#"
                                                                                                             class="dataTable-sorter">Medium</a>
                                                </th>
                                                <th scope="col" data-sortable="" style="width: 18.6667%;"><a href="#"
                                                                                                             class="dataTable-sorter">Status</a>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for appointment in appointments_data%}
                                                <tr>
                                            <td scope="row"><a href="{% url 'appointments:appointment_detail_admin' appointment.id %}"><img src="{{appointment.patient.personal_info.photo.url}}" alt=""></a></td>
                                                    <td>{{appointment.patient.last_name}} {{appointment.patient.first_name}}</td>
                                                    <td scope="row"><a href="#"><img src="{{appointment.doctor.user.personal_info.photo.url}}" alt=""></a></td>
                                                    <td>{{appointment.doctor.user.last_name}} {{appointment.doctor.user.first_name}}</td>
                                                <td><a href="#" class="text-primary">{{appointment.appointment_type}}</a></td>
                                                <td>{{appointment.appointment_medium}}</td>
                                                    {% if appointment.status == "Pending" %}
                                                        <td><span class="badge bg-warning">{{appointment.status}}</span></td>
                                                    {% elif appointment.status == "Approved" %}
                                                        <td><span class="badge bg-success">{{appointment.status}}</span></td>
                                                    {% else %}
                                                        <td><span class="badge bg-secondary">{{appointment.status}}</span></td>
                                                    {% endif %}

                                            </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>